@import './structure/grid.scss';

// width
::-webkit-scrollbar { width: 12px; }
// Track
::-webkit-scrollbar-track { background: #f1f1f1; }
// Handle
::-webkit-scrollbar-thumb { background: #000; transition: all .3s ease; }
::-webkit-scrollbar-thumb:hover { background: goldenrod; }

html { scroll-behavior: smooth; }
body { margin: 0; }
ul { list-style: none; margin: 0; padding: 0;}
p, li, button { font-family: 'Oswald', sans-serif; }
h1, h2, small { font-family: 'Indie Flower', cursive; }
strong { font-weight: bold; }

.oswald { font-family: 'Oswald', sans-serif; }
.indie { font-family: 'Indie Flower', cursive; }

.btn {
  background: none;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 0.2rem 1.5rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 3px transparent;
  transition: all .3s ease;
  &.green {
    background-color: rgb(93, 248, 100);
  }
  &:hover {
    box-shadow: 1px 1px 3px #777;
  }
}

@import './components/common/header.scss';
@import './components/common/footer.scss';
@import './components/common/searchbar.scss';
@import './components/common/productpreview.scss';

@import './components/views/homeview.scss';
@import './components/views/productview.scss'; 
